<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="this.modalController.dismiss()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{entity?.label}} <span *ngIf="entity.inception">({{entity.inception | date: 'yyyy' }})</span></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin ion-no-padding"
             [ngStyle]="{'overflow': ui.isMoreInfoShown() ? 'initial' : '--hidden'}">

    <div class="clickable-image-map-container"
         [@showingInfoAnimation]="ui.isMoreInfoShown() ? 'panoramaHidden' : 'panoramaShown'">
        <app-clickable-image-map></app-clickable-image-map>
    </div>

    <app-information-panel
            [@showingInfoAnimation]="ui.isMoreInfoShown() ? 'informationShown' : 'informationHidden'"
            [entity]="entity">
    </app-information-panel>
</ion-content>
