<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="this.modalController.dismiss()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>Oudegracht (EXAMPLE)</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin ion-no-padding"
             [ngStyle]="{'overflow': ui.isMoreInfoShown() ? 'initial' : '--hidden'}">

    <div class="panorama-screencap-container"
         [@showingInfoAnimation]="ui.isMoreInfoShown() ? 'panoramaHidden' : 'panoramaShown'">
        <app-image-map></app-image-map>
    </div>

    <app-information-panel
            [@showingInfoAnimation]="ui.isMoreInfoShown() ? 'informationShown' : 'informationHidden'">
    </app-information-panel>
</ion-content>
