<div class="ion-padding information-panel"
     [ngClass]="[ui.isMoreInfoShown() ? 'full-screen' : '']">
    <ion-card>
        <!--        <ion-card-header>-->
        <!--            <ion-card-title>Oudegracht 187 (EXAMPLE)</ion-card-title>-->
        <!--        </ion-card-header>-->
        <ion-card-content>
            <p *ngIf="entityRefersToIds()">More information:
                <span *ngIf="entity.refersToIds.rijksmonumentID" class="ion-padding-end">
                    <a [href]="entity.refersToIds.rijksmonumentID" target="_blank">Rijksmonumentenregister</a>
                </span>

                <span *ngIf="entity.refersToIds.bagID" class="ion-padding-end">
                    <a [href]="entity.refersToIds.bagID" target="_blank">BAG</a>
                </span>

                <span *ngIf="entity.refersToIds.udsObjectNr" class="ion-padding-end">
                    <a [href]="env.udsObjectNrUrl + entity.refersToIds.udsObjectNr" target="_blank">Documentatie.org</a>
                </span>

                <span *ngIf="entity.refersToIds.wikidataID">
                    <a [href]="entity.refersToIds.wikidataID" target="_blank">Wikidata</a>
                </span>
            </p>

            <div class="featured-images ion-padding-top" *ngIf="entities.getMostRelevantImages(entity)">
                <ion-grid>
                    <ion-row>
                        <ion-col
                                *ngFor="let image of lightboxImages; let i=index">
                            <img class="featured-image"
                                 [src]="image.thumb"
                                 (click)="onOpenLightboxImage(i)"
                                 alt="{{entity.label}} Image"/>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <ion-button (click)="ui.onToggleDisplayInfo()" fill="clear">
                Read {{ui.isMoreInfoShown() ? 'less' : 'more'}}
            </ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="ui.isMoreInfoShown()">
        <ion-card-header>
            <ion-card-subtitle>Documentatie.org</ion-card-subtitle>
            <ion-card-title>[EXAMPLE] Beginkaart</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="beginkaart-text-content ion-padding-bottom"
                 [ngClass]="[beginkaartExpanded ? '' : 'collapsed']"
                 #beginkaart
            >
                Het hoekpand van Domplein en Servetstraat, uit 1871, heeft twee
                <a target="_top" href="/uds4/zoekpagina3.asp?search=bouwlaag">bouwlagen</a>
                onder een <a target="_top" href="/uds4/zoekpagina3.asp?search=kap met plat">kap met plat</a>,
                met <a target="_top" href="/uds4/zoekpagina3.asp?search=plat dak met schild">schilden</a>
                aan de voorzijde, rechts en links.
                De <a target="_top" href="/uds4/zoekpagina3.asp?search=voorgevel">voorgevel</a>
                ligt aan de Servetstraat en is drie
                <a target="_top" href="/uds4/zoekpagina3.asp?search=vensteras">vensterassen</a>
                breed, met de ingang in het midden tussen brede
                <a target="_top" href="/uds4/zoekpagina3.asp?search=getoogd venster">getoogde vensters</a>.
                De begane grond is wit
                <a target="_top" href="/uds4/zoekpagina3.asp?search=pleisterwerk">gepleisterd</a>,
                de
                <a target="_top" href="/uds4/zoekpagina3.asp?search=muuropening">muuropeningen</a>
                zijn voorzien van een
                <a target="_top" href="/uds4/zoekpagina3.asp?search=omlijsting">omlijsting</a>.
                Een <a target="_top" href="/uds4/zoekpagina3.asp?search=hoofdgestel">hoofdgestel</a>,
                in plaats van een
                <a target="_top" href="/uds4/zoekpagina3.asp?search=cordonlijst">cordonlijst</a>,
                sluit dit deel af.
                Boven de omgepleisterde verdieping staat de zware
                <a target="_top" href="/uds4/zoekpagina3.asp?search=kroonlijst">kroonlijst</a>
                op heel veel, dicht bij elkaar geplaatste
                <a target="_top" href="/uds4/zoekpagina3.asp?search=gootklos">gootklossen</a>.
                Al deze elementen horen bij het
                <a target="_top" href="/uds4/zoekpagina3.asp?search=eclecticisme">eclecticisme</a>.<br>
                De gevel aan het Domplein erg heel merkwaardig, je zou haast denken dat het er drie zijn door de
                verschillen
                tussen de drie delen, die ieder op de verdieping twee vensters hebben.
                Het linker deel, uitgevoerd als
                <a target="_top" href="/uds4/zoekpagina3.asp?search=risaliet">risaliet</a>,
                heeft dezelfde opbouw als de voorgevel.
                Het middelste deel had oorspronkelijk twee vensterassen en was helemaal ongepleisterd, met een
                cordonlijst
                tussen de bouwlagen.
                De begane grond is nu gepleisterd en de vensters zijn vervangen door een imitatie van het venster
                links
                ervan.
                Het rechterdeel is helemaal
                <a target="_top" href="/uds4/zoekpagina3.asp?search=pleisterwerk met schijnvoegen">gepleisterd met
                    schijnvoegen</a>
                en heeft twee gekoppelde ingangen, ook de verdiepingsvensters zijn hier gekoppeld. De
                kroonlijst van de twee rechter delen is een vereenvoudigde uitvoering van die van het
                linker deel, gootklossen ontbreken hier.<br>
                <div style="font-size:12px"><br>
                    Samen met de buurpanden aan het Domplein was dit huis lange tijd in gebruik als
                    garage Vredendaal, het
                    middelste deel van de gevel had toen garagedeuren. Oorspronkelijk was het pand
                    café met bovenwoning en nu weer.<br>
                    Anders dan de bebouwing ten noorden van dit perceel staat Servetstraat 12 niet op de plaats van
                    <a target="_top" href="/uds4/zoekpagina3.asp?search=Utrecht - Domplein 13 e.o. - Lofen">paleis
                        Lofen</a>.
                    De hele strook tot aan de gracht behoorde niet tot de
                    <a target="_top"
                       href="/uds4/zoekpagina3.asp?search=Utrecht - Domplein e.o. - immuniteit van de Dom">immuniteit
                        van de Dom</a>,
                    noch tot
                    <a target="_top"
                       href="/uds4/zoekpagina3.asp?search=Utrecht - Domplein e.o. - immuniteit van Oudmunster">die
                        van
                        Oudmunster
                    </a>.
                </div>
            </div>

            <div class="ion-text-center">
                <ion-button fill="clear"
                            color="medium"
                            size="small"
                            expand="full"
                            class="beginkaart-read-more-button"
                            (click)="onToggleBeginkaart()">
                    <ion-icon name="chevron-down-outline" *ngIf="!beginkaartExpanded"></ion-icon>
                    <ion-icon name="chevron-up-outline" *ngIf="beginkaartExpanded"></ion-icon>
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="ui.isMoreInfoShown()">
        <ion-card-header>
            <ion-card-subtitle>YouTube</ion-card-subtitle>
            <ion-card-title>[EXAMPLE] Oudegracht</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/UjZE4NhGpuI" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="ui.isMoreInfoShown()" [hidden]="true">
        <ion-card-header>
            <ion-card-subtitle>Documentatie.org</ion-card-subtitle>
            <ion-card-title>[EXAMPLE] References</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ul class="ion-no-margin">
            </ul>

        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="ui.isMoreInfoShown()">
        <ion-card-header>
            <ion-card-subtitle>Documentatie.org</ion-card-subtitle>
            <ion-card-title>[EXAMPLE] Literature</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ul class="ion-no-margin">
                <li>Kolman, Chris &amp; Ben Olde Meierink &amp; Ronald Stenvert, Utrecht (betreft provincie Utrecht).
                    Deel in de serie &#39;Monumenten in Nederland&#39;, nr 1. Zeist (Rijksdienst voor de
                    Monumentenzorg), Zwolle (Waanders), 1996cop. [352 blz. ISBN 90.400.9757.7]. Hierin &quot;Ten Putten
                    ([Oudegracht] 187)&quot;: blz. 260 (korte vermelding: ca 1300)
                </li>
                <li>Dolfin, Marceline J. &amp; E.M. Kylstra &amp; Jean Penders, Utrecht, De huizen binnen de Singels.
                    Deel A: Beschrijving. Deel in de serie &#39;De Nederlandse Monumenten van Geschiedenis en Kunst&#39;
                    hierin: &#39;De provincie Utrecht&#39;, De gemeente Utrecht&#39;, deel IIIA. &#39;s-Gravenhage
                    (SDU), 1989. [524 blz. ISBN 90.12.05874.0 / 90.12.05876.7(set)]. Hierin: blz. 102, 103, 370, 393,
                    432, 469
                </li>
                <li>Dolfin, Marceline J. &amp; E.M. Kylstra &amp; Jean Penders, Utrecht, De huizen binnen de Singels.
                    Deel B: Overzicht. Deel in de serie &#39;De Nederlandse Monumenten van Geschiedenis en Kunst&#39;
                    hierin: &#39;De provincie Utrecht&#39;, De gemeente Utrecht&#39;, deel IIIB. &#39;s-Gravenhage
                    (SDU), 1989. [216 blz. ISBN 90.12.05875.9 / 90.12.05876.7(set)]. Hierin &quot;Oudegracht 187, &#39;Huis
                    Ten Putten&#39;&quot;: blz. 112
                </li>
                <li>RdMz, Oudegracht 187, (RAPPORT), 02-1980. (Uit: Gemeente Utrecht, Erfgoed, Alfabetische lijst
                    Bouwhistorische Rapporten en Cultuurhistorische Verkenningen, d.d. 07-2013)
                </li>
                <li>Kipp, A.F.E., &quot;Oude Gracht 187&quot;. In: Archeologische en Bouwhistorische Kroniek van de
                    Gemeente Utrecht, 1982, blz. 103-104
                </li>
                <li>Kipp, Frans, Oudegracht 187, achtergevel, (RAPPORT), 12-1984. (Uit: Gemeente Utrecht, Erfgoed,
                    Alfabetische lijst Bouwhistorische Rapporten en Cultuurhistorische Verkenningen, d.d. 07-2013)
                </li>
                <li>Kipp, A.F.E., &quot;Oude Gracht 187&quot;. In: Archeologische en Bouwhistorische Kroniek van de
                    Gemeente Utrecht, 1987, blz. 217
                </li>
                <li>Kipp, Frans, Oudegracht 187, (RAPPORT), 09-1991. (Uit: Gemeente Utrecht, Erfgoed, Alfabetische lijst
                    Bouwhistorische Rapporten en Cultuurhistorische Verkenningen, d.d. 07-2013)
                </li>
                <li>Lenferink, Marieke, De winkelpui: het visitekaartje van Utrecht. Inventarisatie van historische
                    winkelpuien in de stad Utrecht. Cultuurhistorische rapportage. Utrecht (Gemeente Utrecht), 2009 [38
                    blz. ISBN -]. Hierin in bijlage 4 &#39;Bijzondere en beschermenswaardige winkelpuien&#39;: &quot;Oudegracht
                    187&quot;: blz. 35.
                </li>
                <li>Tentoonstelling Utrechts Oude Gracht. Gids, tevens bevattende de oude namen van de grachthuizen.
                    Centraal Museum, 25 april - 6 juni 1948. Utrecht (Utrechts Monumentenfonds). [30 blz. ISBN -].
                    Hierin: blz. 23 (&quot;Oudegracht 187: &#39;Het wapen van Genua&#39; (uithangbord 1631), &#39;Het
                    Huys te Putten&#39; (1590)&quot; - dit is de relevante tekst volledig)
                </li>
                <li>Kragten, Ron, &quot;Stadsherstel maakt vervallen monument bewoonbaar. Stadskasteel in de sociale
                    huursector&quot;. In: Utrechts Nieuwsblad, 11-12-1993, blz. 15
                </li>
                <li>&quot;Werkeloze kleuterleidster woont op Oudegracht 187&quot;. In: Utrechts Nieuwsblad, 29-03-1977,
                    blz. 2
                </li>
                <li>&quot;Kleuterleidser is 4 jaar werkeloos&quot;. In: Utrechts Nieuwsblad, 26-03-1977, blz. 3</li>
                <li>Karis, Michel, Kunstaardewerkfabriek St. Lukas 1909-1933, deel in de serie &#39;Nobelreeks&#39;, nr
                    7. Vianen (Optima), 2003 [206 blz. ISBN 90.76940.12.6 - opmerking: ISBN is gelijk aan dat van
                    Weide!] (blz. 24-25: Oprichting 20-04-1909, aandeelhouders o.a. Antonie Begeer (eigenaar
                    zilverfabriek) en Alexander F. baron van Lynden (burgemeester van Utrecht). Begeer stelde een
                    braakliggend stuk grond ter beschikking, Strosteeg 10A. Winstgevend werd de fabriek nauwelijks, het
                    einde kwam op 06-07-1923)
                </li>
            </ul>
        </ion-card-content>
    </ion-card>

</div>
