#map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.marker {
  background-image: url('https://via.placeholder.com/150');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

app-source-selection {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
