<div class="image-map-wrapper" #pinchZoom>
  <pinch-zoom class="pinch-zoom">
    <div class="image-map">
      <img
        alt=""
        [src]="
          environment.proxyUrl +
          'http://www.documentatie.org/data/ZoekplaatDb/ZplaatUitzicht/ZplaatUitzicht-HUA.catnr.84347/ZplaatUitzicht-1870.catnr.84347.jpg'
        "
      />
      <svg>
        <a *ngFor="let mapItem of imageMapItems">
          {{ // [attr.href]="mapItem.objectNr" }}
          <polygon [attr.points]="mapItem.coords" />
        </a>
      </svg>
    </div>
  </pinch-zoom>
</div>
