<ion-card class="source-selection">
    <ion-card-content>
        <ion-list>
            <ion-item>
                <ion-label>Documentatie.org</ion-label>
                <ion-checkbox color="primary" checked slot="start"
                              (ionChange)="map.toggleMarkerSourceById(environment.sourceIds.uds)"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-checkbox color="primary" checked slot="start"
                              (ionChange)="map.toggleMarkerSourceById(environment.sourceIds.histomap)"></ion-checkbox>
                <ion-label>Histomap</ion-label>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>
