.panorama-screencap {
  //width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.screencap-container {
  height: 40vh;
}
.footer-panel {
  height: 60vh;
  background-color: #ececec;
}

.rounded-border {
  border-radius: 5px;
}

.white-background {
  background: white;
}
