.panorama-screencap {
  //width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.footer-panel {
  height: 60vh;
  background-color: #ececec;
}

.rounded-border {
  border-radius: 5px;
}

.white-background {
  background: white;
}

ion-content {
  --background: #ececec;
}
